
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger

###  Client  ###
# dependencies
app/node_modules
app/package-lock.json

# testing
app/coverage

# production
app/dist

# misc
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
